<!DOCTYPE html>
<html>
<head>
  <title>Myconnect420</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- partial from  _hearder.html.erb-->
	<%= render 'layouts/header' %>
	
	<div class="container">
		<%= yield %>
	
	<!-- partial from  _footer.html.erb-->
	<%= render 'layouts/footer'%>
</div>
</body>
</html>
